<div>
  <app-menubar></app-menubar>
  <div class="container">
    <div class="container-fluid py-5">
      <!-- Agrega la primera imagen -->
      <img src="assets/images/1519873051091.jfif" alt="Imagen 1" class="img-fluid img-spacing" />

      <!-- Agregar espacio entre las imágenes usando un margen derecho -->
      <img src="assets/images/Logo.JPG" alt="Imagen 2" class="img-fluid img-spacing" />

      <h1 class="display-5 fw-bold">Bienvenido</h1>
      <p class="col-md-8 fs-4">Pagina principal</p>

      <!-- Agrega la segunda imagen -->
      
    </div>
  </div>
</div>
