<div>
    <app-menubar></app-menubar>
    <main>
        <section class="jumbotron text-center my-1">
            <div class="container">
                <h1 class="jumbotron-heading text-center">
                    Paciente nuevo
                </h1>
            </div>
        </section>
        <div class="container">
            <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="messageOk != null">
                <strong>{{messageOk}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="cerrarAlert1()"></button>
              </div>
              <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="messageErr != null">
                <strong>{{messageErr}}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="cerrarAlert2()"></button>
              </div> 
              <div>
                
               
                <div class="form-group mb-3">
                  <label for="name">Nombre</label>
                  <input class="form-control item" type="name" id="name" name="inputName" placeholder="Nombre" [(ngModel)]="Paciente.nombre">
                </div>
                <div class="form-group mb-3">
                  <label for="descripcion">Motivo de Consulta</label>
                  <textarea class="form-control" id="descripcion" name="inputDescripcion" placeholder="Descripcion" [(ngModel)]="Paciente.Consulta"></textarea>
                </div>
                <div class="form-group mb-3">
                  <label for="precio">Correo</label>
                  <input class="form-control item" type="correo" id="correo" name="inputCorreo" placeholder="Correo" [(ngModel)]="Paciente.correo">
                </div>
                <div class="form-group mb-3">
                  <label for="precio">Atendido</label>
                  <input class="form-control item" type="Atendido" id="Atendido" name="inputAtendido" placeholder="Si/No" [(ngModel)]="Paciente.atendido">
                </div>
                <div class="btn-group mb-3">
                  <button type="button" class="me-2 btn btn-outline-primary" (click)="agregar()">Agregar</button>
                  <button type="button" class="btn btn-outline-danger" (click)="cancelar()">Cancelar</button>
                </div>
              </div> 
        </div> 
    </main>
</div>
